
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.bg-cyan {
	background-image:url(bg-cyan.jpg);
}

.body {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}
.body-s {
	max-width: 800px;
}
@media screen and (max-width: 600px) {
	.body {
		padding: 20px;
	}
}