/* SETUP */
*{margin:0;padding:0;}#container.border{overflow: hidden;}#top,#online,#send,#button{display:none;}#send{position:relative;}#input:focus{outline:none;}div.clear{clear:both;}#button{position:absolute;right:0;max-width:50px;}#input,#button{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}#button::-moz-focus-inner{padding:0;border:0;}

/* BODY */
body
{
	background: transparent;
	
	font-size: 12px;
	font-family: 'Arial';
}

/* CONTAINER */
#container
{
	position: relative;
}

#container.border
{
	border: 1px solid;
	border-radius: 5px;
}

/* TOP */
#top
{
	padding: 10px;
	padding-top: 11px;
	
	border-bottom: 1px solid;
}

#container.border #top
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* TITLE */
#title
{
	float: left;
	
	font-weight: bold;
}

/* COUNT */
#count
{
	float: right;
}

/* LINES */
#lines
{
	padding: 10px 10px 5px 10px;
	
	overflow-y: auto;
}

#lines>p, #lines>table
{
	padding-bottom: 5px;
	
	line-height: 1.5em;
	
	word-wrap: break-word;
}

/* ONLINE */
#online
{
	position: absolute;
	
	width: 130px;
	max-width: 130px;
	
	padding: 10px 10px 5px 10px;
	
	border-left: 1px solid;
	
	overflow-y: auto;
}

#online a
{
	display: block;
	
	margin-bottom: 5px;
}

#online a.self
{
	font-weight: bold;
}

/* SEND */
#send
{
	padding: 5px;
	
	border-top: 1px solid;
}

#container.border #send
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* INPUT */
#input
{
	height: 30px;
	
	padding: 0 7px;
	
	border: 1px solid;
	border-radius: 5px;
}

#container.button #input
{
	border-right: 0;
	
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* BUTTON */
#button
{
	right: 5px;
	
	height: 30px;
	line-height: 30px;
	
	padding: 0 7px;
	
	border: 1px solid;
	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	font-size: 12px;
	font-family: 'Arial';
	
	cursor: pointer;
}

/* ANCHOR */
a
{
	text-decoration: none;
}

/* LIST */
table.list th
{
	padding-right: 10px;
	
	text-align: left;
}